<div style="background-color:rgb(226, 225, 225); margin:10px; padding:20px; margin:20px;">
    <form action="/login" method="post">
        <h1 style="color:blue; font-weight:bold;">Login de Usuario</h1>
        <div class="chat-message clearfix">
            <input name="username" type="text" class="form-control" placeholder="Email"
                style="width:60%; margin:10px;" />
            <br />
            <input name="password" type="text" class="form-control" placeholder="Contraseña"
                style="width:60%; margin:10px;" />
            <br />
            <button type="submit"
                style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
                Login</button>
        </div>
    </form>
    <button
        style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
        <a href="/signup">Ir a Signup</a> </button>

</div>