<div style="background-color:rgb(226, 225, 225); margin:10px; padding:20px; margin:20px;">
    <h1 style="color:blue; font-weight:bold;">Usuario: {{user.username}} </h1>
    <br />
    <button
        style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
        <a href="/api/productos">Ver productos</a> </button>
    <br />
    <button
        style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
        <a href="/logout">Salir</a> </button>
</div>