<div style="background-color:rgb(226, 225, 225); margin:10px; padding:20px; margin:20px;">
    <h1 style="color:blue; font-weight:bold;">Registro de usuario</h1>
    <form method="post" action="/signup">
        <input placeholder="Email" name="username" style="width:60%; margin:10px;" />
        <br />
        <input placeholder="Contraseña" name="password" style="width:60%; margin:10px;" />
        <br />
        <button type="submit"
            style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;">
            Register</button>
    </form>
    <button
        style="color:white; background-color:rgb(92, 200, 92); margin:20px; border-radius:3px; border-width:0px; padding:8px;"><a
            href="/login">Ir
            a
            login</a></button>

</div>